Repository pablen/divisores: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --cache, prettier --write

Version bump
  package-lock.json
  package.json
Due: none

Add Cypress setup
  .eslintrc.json
  .huskyrc.json
  cypress.json
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/setupTests.js
  src/setupTests.ts
Due: eslint --max-warnings=0 --cache, prettier --write

Add e2e tests for rules dialog and URL parameters handling
  cypress/integration/rulesDialog.spec.ts
  cypress/integration/urlParams.spec.ts
  src/ConfigProvider.tsx
  src/Game.test.tsx
  src/Game.tsx
  src/components/Card.tsx
  src/components/CardFront.tsx
Due: none

Update Git hooks for running E2E tests
  .huskyrc.json
  package-lock.json
  package.json
Due: none

Update gitignore
  .gitignore
Due: none

Add E2E tests run to GitHub workflow
  .github/workflows/node.js.yml
Due: none

Add E2E tests for card interactions, play button and game over
  cypress/integration/basicCardInteractions.spec.ts
  cypress/integration/gameOver.spec.ts
  cypress/integration/playButton.spec.ts
  src/Game.tsx
  src/components/ScoreBoard.tsx
Due: none

Add Google Analytics tracking code
  cypress.json
  public/index.html
Due: none

Update README
  README.md
Due: prettier --write

Add Service Worker implementation
  .eslintignore
  README.md
  public/index.html
  public/manifest.json
  src/index.tsx
  src/serviceWorker.ts
Due: prettier --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --write

Add improvements for PWA on iOS
  public/index.html
  public/ipad_splash.png
  public/ipadpro1_splash.png
  public/ipadpro2_splash.png
  public/ipadpro3_splash.png
  public/iphone5_splash.png
  public/iphone6_splash.png
  public/iphoneplus_splash.png
  public/iphonex_splash.png
  public/iphonexr_splash.png
  public/iphonexsmax_splash.png
  public/manifest.webmanifest
Due: none

Optimize images with Kraken
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/index.html
  public/ipad_splash.png
  public/ipadpro1_splash.png
  public/ipadpro2_splash.png
  public/ipadpro3_splash.png
  public/iphone5_splash.png
  public/iphone6_splash.png
  public/iphoneplus_splash.png
  public/iphonex_splash.png
  public/iphonexr_splash.png
  public/iphonexsmax_splash.png
  public/mstile-144x144.png
  public/mstile-150x150.png
  public/mstile-310x150.png
  public/mstile-310x310.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
Due: none

Add maskable icon to manifest
  public/manifest.webmanifest
  public/maskable_icon.png
Due: none

Update README
  .eslintrc.json
  README.md
Due: prettier --write

Apply some changes to create Divisores game
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  public/index.html
  public/manifest.webmanifest
  src/ConfigProvider.tsx
  src/Game.module.css
  src/Game.tsx
  src/components/Card.tsx
  src/components/ConfigForm.tsx
  src/components/RulesDialog.tsx
  src/components/ScoreBoard.module.css
  src/components/ScoreBoard.tsx
  src/config.ts
  src/presets.ts
  src/store.ts
  src/types/FireStoreParser.d.ts
  src/utils.test.ts
  src/utils.ts
Due: prettier --write

Path conditions:
  eslint --max-warnings=0 --cache: any of: *.js
  prettier --write: any of: *.{js,css,md}
