Repository pablen/divisores: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --cache, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --max-warnings=0 --cache"],
  "*.{js,css,md}": "prettier --write"
}

Prevent breaking CI if no tests
  package.json
Due: none

Update README
  README.md
Due: prettier --write

Update workflow to generate ZIP bundle
  .github/workflows/node.js.yml
Due: none

Add basic test
  src/App.test.js
  src/setupTests.js
Due: eslint --max-warnings=0 --cache, prettier --write

Prevent adding cards with value >= target value to the stack
  src/components/ConfigForm.js
Due: eslint --max-warnings=0 --cache, prettier --write

Improve layout of card figures
  src/App.js
  src/components/Apple.js
  src/components/Card.js
  src/components/Card.module.css
  src/components/Figures.js
  src/index.css
Due: eslint --max-warnings=0 --cache, prettier --write

Add CHANGELOG file
  CHANGELOG.md
Due: prettier --write

Add configuration presets feature
  src/App.js
  src/components/ConfigForm.js
  src/components/ConfigForm.module.css
  src/config.js
  src/defaults.js
  src/index.css
  src/presets.js
  src/store.js
  src/utils.js
Due: eslint --max-warnings=0 --cache, prettier --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --write

Version bump
  package-lock.json
  package.json
Due: none

Extract score board to separate component
  src/App.js
  src/components/ScoreBoard.js
  src/components/ScoreBoard.module.css
  src/index.css
Due: eslint --max-warnings=0 --cache, prettier --write

Add pause on IA play feature
  CHANGELOG.md
  README.md
  src/App.js
  src/components/ConfigForm.js
  src/components/ConfigForm.module.css
  src/config.js
  src/index.css
  src/presets.js
  src/store.js
Due: eslint --max-warnings=0 --cache, prettier --write

Add support for custom initial config using URL params
  package-lock.json
  package.json
  src/store.js
  src/utils.js
Due: eslint --max-warnings=0 --cache, prettier --write

Add support for loading remote initial configs
  package-lock.json
  package.json
  src/ConfigProvider.js
  src/Game.js
  src/Game.test.js
  src/components/ConfigForm.js
  src/config.js
  src/index.css
  src/index.js
  src/store.js
  src/utils.js
Due: eslint --max-warnings=0 --cache, prettier --write

Display config form as a modal
  package-lock.json
  package.json
  src/components/ConfigForm.js
  src/components/ConfigForm.module.css
  src/index.js
Due: eslint --max-warnings=0 --cache, prettier --write

Add rules dialog at startup
  src/Game.js
  src/components/ConfigForm.module.css
  src/components/RulesDialog.js
  src/components/RulesDialog.module.css
Due: eslint --max-warnings=0 --cache, prettier --write

Implement basic card animations
  package-lock.json
  package.json
  src/Game.js
  src/components/Card.js
  src/components/Card.module.css
  src/components/ConfigForm.js
  src/index.css
  src/store.js
  src/utils.js
Due: eslint --max-warnings=0 --cache, prettier --write

Refactor state to use only card indices
  src/Game.js
  src/store.js
  src/utils.js
Due: eslint --max-warnings=0 --cache, prettier --write

Add checkbox to persist "show rules" preference
  src/ConfigProvider.js
  src/Game.js
  src/components/RulesDialog.js
  src/components/RulesDialog.module.css
Due: eslint --max-warnings=0 --cache, prettier --write

Improve card animations and render
  src/Game.js
  src/Game.module.css
  src/components/Card.js
  src/components/Card.module.css
  src/components/CardBack.js
  src/components/CardFront.js
  src/components/CardPlaceholder.js
  src/components/ConfigForm.js
  src/components/ConfigForm.module.css
  src/components/Figures.js
  src/components/RulesDialog.js
  src/components/RulesDialog.module.css
  src/components/ScoreBoard.js
  src/components/ScoreBoard.module.css
  src/index.css
  src/store.js
Due: eslint --max-warnings=0 --cache, prettier --write

Improve responsive styles and refactor out reusable components
  src/Game.js
  src/Game.module.css
  src/components/Btn.js
  src/components/Btn.module.css
  src/components/CardBack.js
  src/components/Checkbox.js
  src/components/Checkbox.module.css
  src/components/ConfigForm.js
  src/components/ConfigForm.module.css
  src/components/Input.js
  src/components/Input.module.css
  src/components/RulesDialog.js
  src/components/RulesDialog.module.css
  src/components/ScoreBoard.module.css
  src/index.css
  src/index.js
Due: eslint --max-warnings=0 --cache, prettier --write

Fix AI missing valid plays
  src/utils.js
Due: eslint --max-warnings=0 --cache, prettier --write

Implement play hints
  README.md
  src/ConfigProvider.js
  src/Game.js
  src/components/Card.js
  src/components/Card.module.css
  src/components/Checkbox.js
  src/components/Checkbox.module.css
  src/components/ConfigForm.js
  src/components/ConfigForm.module.css
  src/components/Input.js
  src/components/Input.module.css
  src/presets.js
  src/store.js
Due: eslint --max-warnings=0 --cache, prettier --write

Fix weird card backface rendering bug
  src/components/CardBack.js
Due: eslint --max-warnings=0 --cache, prettier --write

Alternate first turn when playing again
  src/Game.js
  src/store.js
Due: eslint --max-warnings=0 --cache, prettier --write

Add missing turn param when updating the config
  src/store.js
Due: eslint --max-warnings=0 --cache, prettier --write

Display AI-related messages in a separate AI message section
  src/Game.js
  src/Game.module.css
  src/index.css
  src/store.js
Due: eslint --max-warnings=0 --cache, prettier --write

Type all the things!
  .eslintrc.json
  .huskyrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
  src/ConfigProvider.tsx
  src/Game.tsx
  src/components/Btn.js
  src/components/Btn.tsx
  src/components/Card.js
  src/components/Card.module.css
  src/components/Card.tsx
  src/components/CardBack.js
  src/components/CardBack.tsx
  src/components/CardFront.js
  src/components/CardFront.tsx
  src/components/CardPlaceholder.js
  src/components/CardPlaceholder.tsx
  src/components/Checkbox.tsx
  src/components/ConfigForm.tsx
  src/components/Input.js
  src/components/Input.tsx
  src/components/RulesDialog.tsx
  src/components/ScoreBoard.js
  src/components/ScoreBoard.tsx
  src/config.js
  src/config.ts
  src/index.tsx
  src/presets.js
  src/presets.ts
  src/react-app-env.d.ts
  src/store.ts
  src/types/FireStoreParser.d.ts
  src/utils.ts
  tsconfig.json
Due: eslint --max-warnings=0 --cache, prettier --write

Use Fisher-Yates shuffle algorithm for deck shuffles
  package-lock.json
  package.json
  src/Game.tsx
  src/types/arrayShuffle.d.ts
  src/utils.ts
Due: none

Add tests
  .huskyrc.json
  package.json
  src/ConfigProvider.tsx
  src/Game.test.js
  src/Game.test.tsx
  src/Game.tsx
  src/store.test.ts
  src/store.ts
  src/utils.test.ts
Due: eslint --max-warnings=0 --cache, prettier --write
